# Ignore Python cache files
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd

# Ignore virtual environment
venv/
env/
.env
.envrc

# Ignore OS files (optional)
.DS_Store
Thumbs.db

# Ignore JetBrains IDE project settings
.idea/